@charset "UTF-8";
@import "../../../common/css/_common";

.container{
  width: 900px;
}

.article-list{
  counter-reset: itemIndex;
  >li{
    position: relative;
    float: left;
    width: 48%;
    margin-right: 2%;
    line-height: 30px;
    padding: 5px 5px 5px 32px;
    margin-bottom: 20px;
    border: 5px solid;
    border-image: url("../../../common/img/border_image_demo_2.jpg") 7;
    background-image: linear-gradient(to top, rgba(3, 169, 244, 0.5),#fff);
    box-shadow: 0 0 10px #03A9F4;
    border-radius: 10px;
    &:nth-child(2n){
      margin-right: 0;
    }
    &:before{
      content: counter(itemIndex) 'ã€';
      counter-increment: itemIndex;
      position: absolute;
      top: 5px;
      left: 5px;
      width: 32px;
      text-align: center;
      color: $baseColor;
    }
    >a{
      display: block;
      padding-left: 5px;
      border-radius: 50px;
      transition: all 1s linear;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background: rgba(0,0,0,0);
      &:hover{
        color: $baseColor;
        animation: linkBackgroundFlash 1s linear infinite;
      }
    }
  }
}


@keyframes linkBackgroundFlash {
  0%{
    background: rgba(0,0,0,0);
  }
  100%{
    background: rgba(113, 137, 226, 0.46);
  }
}

















